{% extends "account/base.html" %}

{% load account socialaccount %}

{% block content %}

<h1>Sign In</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>Please sign in with Google
</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">or</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<form class="login" method="POST" action="{% url 'account-login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">Sign In</button>
</form>

{% endblock %}